{
  "parser": "babel-eslint",
  "extends": [
    "standard"
  ],
  "plugins": [
    "babel"
  ],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "should|expect"
      }
    ],
    "babel/new-cap": 1,
    "babel/no-invalid-this": 1,
    "babel/no-unused-expressions": 1
  }
}
